<div id="title">
    <div>
        <p><%= @note.created_at.year %>-<%= @note.created_at.month %>-<%= @note.created_at.day %>/書いた人:<%= @note.user.email %></p>
        <h1><%= @note.title %></h1>
    </div>
</div>


<div id="article_wrap">

    <div id="content">
        <p><%= @note.content %></p>
    </div>

	<%= render 'shared/side'  %>
    
</div>

